<div class="container">
  <H3>
    <ul class="list-inline">
      <li class = "list-inline-item" style="padding:20px">
          <a routerLink="/addtask" routerLinkActive="active">Add Task</a>
      </li>
      <li class = "list-inline-item" style="padding:20px">
          <a routerLink="/viewtask" >View Task</a>
      </li>
    </ul>
  </H3>
  <!-- <div class="pull-left">
    <a routerLink="/addtask" routerLinkActive="active"><H3>Add Task</H3></a>
  </div>
  <div class="pull-center">
    <a routerLink="/viewtask" routerLinkActive="active"><H3>View Task</H3></a>
  </div> -->
<router-outlet></router-outlet>
</div>