<form (ngSubmit)="f.form.valid && AddEditTask()" #f="ngForm" class="form-horizontal">  
    <div class="form-group">
      <label class="col-sm-2 Bold">Task:</label>
      <div class="col-sm-6">
        <input required type="text" class="form-control" placeholder="Task Description" [(ngModel)]="taskModel.TaskDescripton" #taskName="ngModel" name="tName" id="tName"/>
        <div *ngIf="f.submitted && taskName.invalid" class="alert alert-danger">
            <div *ngIf="taskName.errors.required">
                Task Description is required.
            </div>
        </div>      
      </div>
      </div>              
    <div class="form-group"> 
        <label class="col-sm-2 Bold">Priority:</label>
        <div class="col-sm-6">
          <input type="range" min=1 max=30 value=15 class="form-control" [(ngModel)]="taskModel.Priority" name="tPriority"/>
        </div>
      </div>     
      <div class="form-group">
          <label class="col-sm-2 Bold">Parent Task:</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" [disabled]="noParentAssociated" [(ngModel)]="taskModel.ParentTaskModelModule.ParentTaskName" name="tParentDescription"/>
          </div>
        </div>  
      <div class="form-group">
          <label class="col-sm-2 Bold">Start Date:</label>
          <div class="col-sm-6">
              <input type="date" class="form-control" [ngModel]="taskModel.StartDate | date:'yyyy-MM-dd'" (ngModelChange)="taskModel.StartDate = $event" name="Start_Date" #startDate="ngModel" required (blur)="ValidateStartEndDates()"/>
              <div *ngIf="f.submitted && startDate.errors?.required" class="alert alert-danger">
                    Start Date is required.
                </div>
          </div>
      </div>  
      <div class="form-group">
          <label class="col-sm-2 Bold">End Date:</label>
          <div class="col-sm-6">
              <input type="date" class="form-control" [ngModel]="taskModel.EndDate | date:'yyyy-MM-dd'" (ngModelChange)="taskModel.EndDate = $event" name="end_date" #endDate="ngModel" required (blur)="ValidateStartEndDates()"/>
              <div *ngIf="f.submitted && endDate.errors?.required" class="alert alert-danger">
                    End Date is required.
                </div>
                <div *ngIf="f.submitted && error.isError" class="alert alert-danger">
                        {{error.errorMsg}}
                    </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
            <input type="submit" value="Save Task" class="form-control" id="tEndDate"/>           
        </div>                       
      </div>
  </form>
  